* {
    font-size: medium;
    
}

.backer {
    background-image: url(../images/dirt.jpg);
    
    background-repeat: repeat;
}

body {
    font-family: 'rajdhani';
    background-image: url();
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

header {
    height: 100vh;
    width: 85vw;
    background-image: url(../images/8bit-header2.png);
    background-size: cover;
    margin: none;
    margin-left: 200px;
}


.header {
  display: flex;
  justify-content: center;
  align-items: end;
}



section {
    width: 80%;
    display: flex;
    margin: auto;
    

}

.side {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-image: url(../images/grass.jpeg);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  border-right: 2px double rgb(72, 50, 14);
}


.main-title {
    font-family: 'pixelify sans';
    display: absolute;
  height: fit-content;
    bottom: 10px;
    font-size: 90px;
    color: rgb(76, 225, 30);
    background-color: black;
    border-radius: 8px;
    margin: 30px;
    opacity: 0.75;
    text-align: center;
    padding: 20px;
}

.coder-title {
    font-family: 'pixelify sans';
    color: orange;
    font-size: 30px;
    border-radius: 6px;
}

.foot-link {
    display: flex;
    margin: auto;
    width: 85%;
    justify-content: space-evenly;
    margin-bottom: none;
    height: 100px;
    align-items: center;
    margin-left: 200px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
    
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-right: 15px;
  margin-left: -55px;
}

.start {
  width: 160px;
  margin: 10px;
}

.nav-pic {
  width: 55px;
  margin-top: 5px;
  margin-bottom: 0;
}

li.link-item:hover {
  scale: 1.2;
}


ul.nav-link {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}


li.link-item{
justify-content: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  margin: 13px;
}

h4.nav-name {
  width: 100%;
  color: white;
  font-family: 'pixelify sans';
  font-size: x-large;
  margin-top: 0;
  margin-bottom: 15px;
}

.link {
    font-size: larger;
    color: rgb(39, 215, 19);
    -webkit-text-stroke: 1.5px rgb(8, 49, 16);
    font-family: 'dela gothic one';
}

.icon {
    font-size: 50px;
}


.link:hover {
  transition: ease-in 5.s;
    scale: 1.1;
    

}



.aboutMe {
  margin: auto;
  margin-left: 280px;
  border: 2px solid rgba(11, 225, 11, .35);
  width: 75%;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 25px;
  color: rgb(255, 255, 255);
  background-color: rgba(18, 16, 13, 0.45);  
  backdrop-filter: blur(5px);
 
  
}



p {
  border-radius: 10px;
  margin: 50px;
  font-size: xx-large;
  

}

.gallery {
 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 15px;
    width: 75%;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
    background-color: rgba(18, 16, 13, 0.45);  
    backdrop-filter: blur(5px);
    border: 2px solid rgba(11, 225, 11, .35);
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    border-radius: 15px;
  
    margin-left: 280px;
  }
  
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter:blur(2px) grayscale(50%);
    align-content: center;
    border-radius: 7px;
    border: 8px solid rgb(66, 255, 4);
    margin-top: 10px;
  }
  
  .gallery__img:hover {
  filter: none;
  box-shadow: ;
  scale: 1.03;

  }
  
  .name {
    font-family: 'pixelify sans';
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  
  .gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 10;
  }
  
  .gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 10;
  }
  
  .gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 12;
  }
  
  .gallery__item--7 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 12;
  }
  
  .floatbox {
    display: flex;
    background-color: rgba(18, 16, 13, 0.45);  
    backdrop-filter: blur(5px);
    width: 200px;
    position: absolute;
    margin-top:-100px;
    padding: 10px;
    font-size: larger;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:orange;
  }
  
  .floatbox2 {
    display: flex;
    background-color: rgba(18, 16, 13, 0.45);  
    backdrop-filter: blur(5px);
    width: 200px;
    position: absolute;
    margin-top:-100px;
    padding: 10px;
    font-size: large;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:orange;
  }

  .title {
    color: rgb(12, 222, 40);
    display: flex;
    font-family: 'pixelify sans';
    font-size: 50px;
    margin-bottom: 0;
   margin-left: 200px;
   padding: 20px;
   padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.45);  
  backdrop-filter: blur(5px);
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    justify-content: center;

  }

  .left {
    text-indent: 10%;
    text-align: left;
  }