* {
    font-size: medium;
    
}

.backer {
    background-image: url(../images/dirt.jpg);
    
    background-repeat: repeat;
}

body {
    font-family: 'rajdhani';
    background-image: url();
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

header {
    height: 100vh;
    width: 85vw;
    background-image: url(../images/8bit-header2.png);
    background-size: cover;
    margin: none;
    margin-left: 200px;
}


.header {
  display: flex;
  justify-content: center;
  align-items: end;
}



section {
    width: 80%;
    display: flex;
    margin: auto;
    

}

.side {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-image: url(../images/grass.jpeg);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  border-right: 2px double rgb(72, 50, 14);
}


.main-title {
    font-family: 'pixelify sans';
    display: absolute;
  height: fit-content;
    bottom: 10px;
    font-size: 90px;
    color: rgb(76, 225, 30);
    background-color: black;
    border-radius: 8px;
    margin: 30px;
    opacity: 0.75;
    text-align: center;
    padding: 20px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(0, 255, 26); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(47, 255, 0); }
}

.coder-title {
    font-family: 'pixelify sans';
    color: orange;
    font-size: 30px;
    border-radius: 6px;
}

.foot-link {
    display: flex;
    margin: auto;
    width: 85%;
    justify-content: space-evenly;
    margin-bottom: none;
    height: 100px;
    align-items: center;
    margin-left: 200px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 5px;
    
    
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-right: 15px;
  margin-left: -55px;
}

.start {
  width: 160px;
  margin: 10px;
}

.nav-pic {
  width: 55px;
  margin-top: 5px;
  margin-bottom: 0;
}

li.link-item:hover {
  scale: 1.2;
  transition: ease-in-out 0.5s;
  
}


ul.nav-link {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}


li.link-item{
justify-content: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  margin: 13px;
}

h4.nav-name {
  width: 100%;
  color: white;
  font-family: 'pixelify sans';
  font-size: x-large;
  margin-top: 0;
  margin-bottom: 15px;
}

.link {
    font-size: larger;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1.5px rgb(8, 49, 16);
    font-family: 'dela gothic one';
    margin-top: 15px;
}

.icon {
  color: rgb(39, 215, 19);

    font-size: 50px;
    margin-left: 5px;
}


.link:hover {
  transition: ease-in-out 0.5s;

    scale: 1.2;
    

    

}



.aboutMe {
  margin: auto;
  margin-left: 280px;
  border: 2px solid rgba(11, 225, 11, .35);
  width: 75%;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 25px;
  color: rgb(255, 255, 255);
  background-color: rgba(53, 189, 22, 0.45);  
  backdrop-filter: blur(5px);
 
  
}



p {
  border-radius: 10px;
  margin: 50px;
  font-size: x-large;
  font-weight: 500;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(26, 5vw);
    grid-gap: 5px;
    width: 70%;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
    background-color: rgba(18, 16, 13, 0.45);  
    backdrop-filter: blur(5px);
    padding: 30px;
    padding-bottom: 0px;
    border-radius: 15px;
    margin-left: 280px;
    box-shadow: -5px -5px 30px 5px orange, 5px 5px 30px 5px rgb(9, 240, 9);
  }
  
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    align-content: center;
    border-radius: 10px;
   

    margin-top: 10px;
  }

.gallery__item {
  filter:opacity(.6);

}
  
  .gallery__item:hover {
    filter: none;
    animation: shake 0.5s;

  scale: 1.03;
  transition: ease-in-out 0.1s;
    font-size: large;
    

  }
  
  .name {
    font-family: 'pixelify sans';
  }
  
  .gallery__item--1 {
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  
  .gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;
  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 10;
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 14;
  }
  
  .gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 14;
  }
  
  .gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 14;
    grid-row-end: 18;
  }
  
  .gallery__item--7 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 14;
    grid-row-end: 18;
  }

  .gallery__item--8 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 18;
    grid-row-end: 22;
  }

  .gallery__item--9 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 18;
    grid-row-end: 22;
  }

  .gallery__item--10 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 22;
    grid-row-end: 26;
  }

  .gallery__item--11 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 22;
    grid-row-end: 26;
  }
  
  .floatbox {
    filter: none;
    display: flex;
    background-color: rgba(18, 16, 13, 0.45);  
    backdrop-filter: blur(5px);
    width: 200px;
    position: absolute;
    margin-top:-100px;
    padding: 10px;
    font-size: larger;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:orange;
  }
  
  .floatbox2 {
    display: flex;
    background-color: rgba(18, 16, 13, 0.45);  
    backdrop-filter: blur(5px);
    width: 200px;
    position: absolute;
    margin-top:-100px;
    padding: 10px;
    font-size: larger;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:orange;
  }

  .float {
    position: fixed;
    bottom: 0;
    right: 0;
    
  }

  .repo {
    width: 100px;
    opacity: .65;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .repo:hover {
    scale: 1.2;
    transition: ease-in-out 0.5s;
    opacity: 1;
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;


  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .title {
    color: rgb(12, 222, 40);
    display: flex;
    font-family: 'pixelify sans';
    font-size: 50px;
    margin-bottom: 0;
   margin-left: 200px;
   padding: 20px;
   padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.45);  
    backdrop-filter: blur(5px);
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    justify-content: center;

  }

  .left {
    
    text-align: left;
    background-color: rgba(0, 0, 0, 0.80);  
    padding: 15px;
  }

  .game-over {

    z-index: -1;
    margin-top: 30px;
    width: 85%;
    margin-left: 200px;
    background-image: url(../images/ground-layer1.png);
    }


.head-shot {
  justify-content: center;
  margin: auto;
  
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid grey;
  backdrop-filter: blur(5px);
}

.head-shot:hover {
  scale: 1.4;
  transition: ease-in-out 0.5s;
  
}

.time {
  display:flex;
  text-align: center;
  margin: auto;
  justify-content: center;
  margin-left: 200px;
  font-size: 50px;
  border-radius: ;
  background-color: rgba(212, 201, 50, 0.45);  
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
  font-family: 'dela gothic one';
  height: 160px;
  font-weight: 100;

}

.para-title {
  font-size: 60px;
  color: orange;
  font-family: 'caveat';
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  
}

.seperator {
  border-top: 3px dashed #bbb;

}

.code {
  color: rgb(89, 255, 0);
  font-size: x-large;

  font-family: 'pixelify sans';
 
  font-weight: 900;
}

.dino {
  margin-left: -100px;
  left: 0;
  transition: 0.5s;
  animation: dinomove 4s infinite;   
}

@keyframes dinomove{
  0% {
    transform: translateX(100px) rotateY(0deg);
  }
  49% {
    transform: translateX(300px) rotateY(0deg);
  }
  50% {
    transform: translateX(300px) rotateY(360deg);
  }
  100% {
    transform: translateX(100px) rotateY(360deg);
  }
}

.knight {
  margin-left: 300px;
  animation: shake 6s infinite;
}

@media screen and (max-width: 992px) {
  header {
    height: 50vh;
    width: 100vw;
    background-image: url(../images/8bit-header2.png);
    background-size: cover;
    margin: none;
    margin-left: 105px;
    margin-right: 0;
}




section {
    width: 90%;
    margin-top: 30px;

}

.side {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-image: url(../images/grass.jpeg);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 7px;
}


.main-title {
  height: fit-content;
    font-size: 40px;
    padding: 10px;
}

.coder-title {

    font-size: 20px;

}

.foot-link {
    width: 85%;
    height: 100px;
    margin-left: 130px;
}


.dino {
  animation: none;
  margin-left: 0px;
}

.knight {
  animation: none;
  margin-left: 100px;
  height: 100px;
}

.start {
  width: 80px;
  margin: 10px;
}

.nav-pic {
  width: 35px;

}

li.link-item:hover {
  scale: 1.1;

}


h4.nav-name {
  width: 100%;

  font-size: large;

}

.link {
    font-size: medium;
    margin-left: 0px;
    margin-top: 10px;
    width: 85%;
}

.icon {
  color: rgb(39, 215, 19);

    font-size: 35px;
    margin-left: 10px;
}


.link:hover {

    scale: 1.1;
    

}



.aboutMe {
  margin: auto;
  margin-left: 130px;
  border: 2px solid rgba(11, 225, 11, .35);
  width: 85%;
  border-radius: 12px;

  margin-top: 25px;
 
 
  
}



p {
  border-radius: 10px;
  margin: 30px;
  font-size: larger;
  width: 90%;
  

}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(68, 5vw);
    grid-gap: 5px;
    width: 80%;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;

    padding: 5px;
    
    margin-left: 140px;
    box-shadow: -5px -5px 20px 5px orange, 5px 5px 20px 5px rgb(9, 240, 9);
  }
  
  .gallery__item {
    filter: none;
  }

  .gallery__item--1 {
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 12;
  }
  
  .gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 24;
  }
  
  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 24;
    grid-row-end: 36;
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 36;
    grid-row-end: 48;
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 48;
    grid-row-end: 60;
  }
  
  .gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 60;
    grid-row-end: 72;
  }
  
  .gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 72;
    grid-row-end: 86;
  }

  .gallery__item--8 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 86;
    grid-row-end: 98;
  }

  .gallery__item--9 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 98;
    grid-row-end: 110;
  }

  .gallery__item--10 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 110;
    grid-row-end: 122;
  }

  .gallery__item--11 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 122;
    grid-row-end: 134;
  }



  .floatbox {
    color: rgb(51, 39, 227);
    width: fit-content;
    position: absolute;
    padding: 5px;
    font-size: large;
    margin-top: -90px;
    background-color: rgba(255, 255, 255, 0.45);  
    backdrop-filter: blur(5px);
  }
  
  .floatbox2 {
    width: fit-content;
    position: absolute;
    padding: 5px;
    font-size: large;
    margin-top: -90px;
    background-color: rgba(255, 255, 255, 0.45);  
    backdrop-filter: blur(5px);
    color: blue;
  }

  .float {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin-left: 5px;

  }

  .repo {
    width: 100px;
    opacity: 1;
  }

  .repo:hover {
    scale: 1.1;
    transition: ease-in-out 0.5s;
    opacity: .80;
  }

  .title {
    font-size: 30px;
    margin-bottom: 0;
   margin-left: 80px;
   padding: 20px;
   padding-left: 40px;
    width: 250px;


  }

  .left {
    text-indent: 10%;
    text-align: left;
  }

  .dino {
    height: 115px;
  }

  h2.time {
    background-color: none;
  }

.time {
align-items: center;
border-radius: 50%;
margin-top: 25px;
font-size: 30px;
margin-left: 200px;
background-color: none;
background-image: url(../images/clock.png);
background-size: cover;
width: 150px;
height: 150px;
padding: 10px;
justify-content: center;
}

.para-title {
  font-size: 50px;
  color: orange;
  font-family: 'caveat';
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  
}
}